<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcframe.base.module.tableconfig.dao.OsSysFieldDao">
  <resultMap id="BaseResultMap" type="com.hcframe.base.module.tableconfig.entity.OsSysField">
    <result column="FIELD_ID" jdbcType="INTEGER" property="fieldId" />
    <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <result column="NAME_CN" jdbcType="VARCHAR" property="nameCn" />
    <result column="JAVA_TYPE" jdbcType="VARCHAR" property="javaType" />
    <result column="JAVA_FIELD" jdbcType="VARCHAR" property="javaField" />
    <result column="WEB_TYPE" jdbcType="VARCHAR" property="webType" />
    <result column="NOT_NULL" jdbcType="VARCHAR" property="notNull" />
    <result column="IS_CHANGE" jdbcType="VARCHAR" property="isChange" />
    <result column="IS_HEAD" jdbcType="VARCHAR" property="isHead" />
    <result column="IS_FK" jdbcType="INTEGER" property="isFk" />
    <result column="IS_FORM" jdbcType="INTEGER" property="isForm" />
    <result column="IS_BATCH" jdbcType="INTEGER" property="isBatch" />
    <result column="FK_TABLE" jdbcType="VARCHAR" property="fkTable" />
    <result column="LOGIC" jdbcType="VARCHAR" property="logic" />
    <result column="SIGN" jdbcType="VARCHAR" property="sign" />
    <result column="IS_SEARCH" jdbcType="VARCHAR" property="isSearch" />
    <result column="FK_KEY" jdbcType="VARCHAR" property="fkKey" />
    <result column="FK_VALUE" jdbcType="VARCHAR" property="fkValue" />
    <result column="WIDTH" jdbcType="INTEGER" property="width" />
    <result column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <collection property="selectList" resultMap="com.hcframe.base.module.tableconfig.dao.OsSysSelectDao.OsSysSelectMap"/>
  </resultMap>
    <select id="getTableAlise" resultType="java.lang.String">
      SELECT DISTINCT
        TABLE_ALIAS
      FROM
        OS_SYS_TABLE
          LEFT JOIN OS_SYS_FIELD ON OS_SYS_TABLE.TABLE_ID = OS_SYS_FIELD.TABLE_ID
      WHERE
          FIELD_ID IN (${ids})
    </select>
</mapper>
