<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en-US"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <![endif]-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Premium theme.">
    <meta name="keywords" content=""/>
    <meta name="author" content="Site Author">
    <title>中国科协学会服务中心数据整合共享平台建设</title>
    <!-- Fav icon -->
    <link rel="shortcut icon" href="/intro/service.ico" type="image/x-icon" />
    <!-- <meta name="robots" content="index,follow"> -->

    <!-- ############################# Stylesheets ############################# -->
	<link rel="stylesheet" type="text/css" href="/intro/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/shortcodes.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/font-awesome.css">
	
    <link rel="stylesheet" href="/intro/css/style.css" media="screen" />

    <!-- ############################# Javascript - Modernizr ############################# -->

    <script src="/intro/js/modernizr.custom.js"></script>
</head>
<body>
<!--[if lte IE 8]>
<div id="ie6-message"><p>You are using Internet Explorer 8.0 or older to view the web. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
<![endif]-->

<!-- ############################# Page ############################# -->
<section id="page">

    <!-- ############################# Header ############################# -->
    <header id="header">
        <div class="container">
            <!-- ############################# Logo ############################# -->
             <a id="logo" href="/introduce" class="smooth-link"><img src="/intro/picture/casLogo_white.png" alt="Logo"></a>

            <!-- ############################# Menu ############################# -->
            <!-- Menu Tigger -->
            <a href="#" id="menu-trigger"><span class="icon"></span></a>
            <!-- /menu Tigger -->
        </div>
         <!-- Menu Container -->
        <div id="menu-container">
            <div class="container">
                <h3 class="nav-title">导航</h3>
                <div class="divider white"></div>
                <nav id="nav">
                    <ul>
                        <li><a href="/introduce">首页</a></li>
                    </ul>
                </nav>
            </div>
            <div class="overlay"></div>
        </div>
    </header>

    <!-- ############################# Page Content ############################# -->
    <section id="content">
        <!-- ############################# Services ############################# -->
        <section id="services" class="section">

            <!-- Container -->
            <div class="container">

                <!-- Section Header -->
                <header class="section-header">
                    <h2 class="section-title animated" data-delay="0">业务工作台</h2>
                    <div class="divider dark long animated" data-delay="100"></div>
                    <p class="section-header-text animated" data-delay="200">为中国科协学会服务中心构建统一的前端用户工作台，建设集成用户工作台，作为学会用户和中心工作人员进入各业务系统的统一门户，各业务系统根据业务逻辑分门别类集成在统一门户的不同版块中.</p>
                </header>
                <!-- /section header -->
                
                <!-- Services -->
                <div class="row">
                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://app01.castscs.org.cn:8080/nianjian/main.jsp">学会年检事务工作平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business5.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://kjst.castscs.org.cn:8080/Index.aspx">学会组织基础数据库</a></h3>
                        <p class="service-text"><img src="/intro/picture/business7.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                    <!-- Service -->
                    <div class="flex-col-1-3 last service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://kjst.castscs.org.cn:8081/projectmanage/index.html">项目（申报）管理系统</a></h3>
                        <p class="service-text"><img src="/intro/picture/xmsbglxt.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                </div>

                <!-- Services -->
                <div class="row">
                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://210.14.118.121/myDo/login.html">中心协同办公系统</a></h3>
                        <p class="service-text"><img src="/intro/picture/zxxtbgxt.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->

                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://kjst.castscs.org.cn:8080/Index.aspx">科技社团数据信息平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business3.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                    
                    <!-- Service -->
                    <div class="flex-col-1-3 last service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://kjst.castscs.org.cn:8081/ebook">科技社团数字图书馆</a></h3>
                        <p class="service-text"><img src="/intro/picture/business8.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                </div>
                
                <div class="row">
                    <!-- Service -->
                    <div class="flex-col-1-3 last service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://chinacs-admin.scimall.org.cn/">中国科协学会会员服务系统</a></h3>
                        <p class="service-text"><img src="/intro/picture/xhhyfwxt.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->

                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://xsxm.castscs.org.cn">学术会议指南信息平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business1.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>

                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://hy.castscs.org.cn/">微会议平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business4.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    
                    <!-- /service -->

                    
                </div>
               
                <div class="row">
                	<!-- Service -->
                    <div class="flex-col-1-3 last service animated" data-delay="300">
                        <h3 class="service-title"><a href="http://cq.castscs.org.cn:8080/zgkxjsxh/index.shtml">创新驱动工程服务平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business2.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                    <!-- Service -->
                    <div class="flex-col-1-3 service animated" data-delay="300">
                        <!-- Title -->
                        <h3 class="service-title"><a href="http://kjqkxm.castscs.org.cn/egrantweb">中国科技期刊重点项目管理数字平台</a></h3>
                        <p class="service-text"><img src="/intro/picture/business6.png" alt="Member Image" class="aligncenter animated" data-delay="0"></p>
                    </div>
                    <!-- /service -->
                </div>
                
                <!-- /services -->
            </div>
            <!-- /container -->
        </section>
        <!-- /services -->

       <!-- ############################# Process ############################# -->
        <section id="process" class="section">

            <!-- Container -->
            <div class="container">

                <!-- Section Header -->
                <header class="section-header">
                    <h2 class="section-title animated" data-delay="0">数据整合与展示</h2>
                    <div class="divider dark long animated" data-delay="100"></div>
                    <p class="section-header-text animated" data-delay="200">针对中国科协学会服务中心现有的各业务系统，为中国科协学会服务中心建设数据统一管理平台，实现各业务系统数字资源的统一管理，实现各业务系统的数据共享和统一数据备份.</p>
                </header>
                <!-- /section header -->
               
            </div>
			<div class="container">
				<div class="col-md-12">
					<div class="content-wrap">
						<div class="thumb" style="text-align:center;">
							<a href="http://fwh.castscs.org.cn/multisource/nianjian"><img src="/intro/picture/dataAll.png" alt="Image" style="height:280px;"></a>
							<a href="http://fwh.castscs.org.cn/multisource/nianjian"><img src="/intro/picture/dataOne.png" alt="Image" style="height:280px;"></a>
						</div>

						<div class="flex-col-1-5 step animated" data-delay="0" style="background-color:#e6edf4;height:370px;text-align:center;">
                       
							<span class="step-icon icon icon-number"></span>
						   
							<h4 class="step-title" style="font-size:18px;color:#005b7f;">科技期刊项目数据</h4>

							<p class="step-text">
								<ul class="dataUl">
									<li>期刊信息</li>
									<li>期刊项目信息</li>
									<li>网评信息</li>
									<li>课程信息</li>
								</ul>
							</p>
						</div>
						
						<div class="flex-col-1-5 step animated" data-delay="0" style="background-color:#e6edf4;height:370px;text-align:center;">
							
							<span class="step-icon icon icon-number2"></span>
							
							<h4 class="step-title" style="font-size:18px;color:#005b7f;">学术项目会议数据</h4>

							<p class="step-text">
								<ul class="dataUl">
									<li>学术项目信息</li>
									<li>会议指南信息</li>
								</ul>
							</p>
						</div>
						
						<div class="flex-col-1-5 step animated" data-delay="0" style="background-color:#e6edf4;height:370px;text-align:center;">
							
							<span class="step-icon icon icon-number3"></span>
						
							<h4 class="step-title" style="font-size:18px;color:#005b7f;">科技社团数据</h4>

							<p class="step-text">
								<ul class="dataUl">
									<li>科协统计年鉴</li>
									<li>学会统计年鉴</li>
									<li>学会财务数据</li>
									<li>全国学会信息</li>
									<li>省级学会数据</li>
									<li>研究资料成果</li>
								</ul>
							</p>
						</div>
			   
						<div class="flex-col-1-5 step animated" data-delay="0" style="background-color:#e6edf4;height:370px;text-align:center;">
					  
							<span class="step-icon icon icon-number4"></span>
						
							<h4 class="step-title" style="font-size:18px;color:#005b7f;">学会系统数据</h4>

							<p class="step-text">
								<ul class="dataUl">
									<li>学会信息</li>
									<li>个人会员信息</li>
									<li>团体会员信息</li>
									<li>学会会议信息</li>
									<li>通知公告信息</li>                                
								</ul>
							</p>
						</div>
						
						<div class="flex-col-1-5 step animated" data-delay="0" style="background-color:#e6edf4;height:370px;text-align:center;">
						 
							<span class="step-icon icon icon-number5"></span>
						   
							<h4 class="step-title" style="font-size:18px;color:#005b7f;">学会年检数据</h4>

							<p class="step-text">
								<ul class="dataUl">
									<li>学会年检补充信息</li>
									<li>学会年检信息</li>
									<li>全国学会基础数据库</li>                               
								</ul>
							</p>
						</div>
					<!-- <div class="thumb">
							<img src="picture/dataAll.png" alt="Image" style="width:48%;"><img src="picture/dataOne.png" alt="Image" style="width:48%;">
						</div> -->						
					</div><!-- .content-wrap -->
				</div><!-- .col-md-12 -->
			</div>
        </section>
        <!-- /process -->
		
		<!-- ############################# Slider and Content ############################# -->
        <section class="section no-padding slider-content grey-texture animated" data-delay="0" style="padding-top:20px;">
			<div class="container">
            <!-- Section Header -->
            <header class="section-header" style="margin-bottom:0px;">
                <h2 class="section-title animated" data-delay="0">单点登录</h2>
                <div class="divider dark long animated" data-delay="100"></div>
                <!-- <p class="section-header-text animated" data-delay="200">Proactive rss-capable reinvent share action-items synergize implement engage web-readiness out-of-the-box reintermediate, reinvent killer infomediaries extensible enable aggregate architectures empower. Reinvent utilize plug-and-play tag revolutionary incentivize proactive citizen-media visualize.</p> -->
            </header>
            <div class="row">
				<div class="col-md-12">
					<div class="cbr-spacer clearfix" data-desktop="100" data-mobi="70" data-smobi="70"></div>
				</div><!-- .col-md-12 -->

				<div class="col-md-8">
					<div class="cbr-content-box clearfix bg-light" data-padding="45px 5px 17px 50px" data-mobipadding="25px 5px 15px 30px" style="background-color:#eff5fa !important;">
						<div class="inner" style="padding: 45px 5px 17px 50px;">
							<div class="cbr-headings">
								<h6 class="pre-heading" style="letter-spacing:3px;">CAS-Central Authentication Service</h6>
								<!-- <h2 class="heading">Central Authentication Service</h2> -->
							</div><!-- .cbr-headings -->

							<div class="cbr-carousel-box has-arrows arrow-bottom arrow10 text-center" data-auto="false" data-loop="false" data-gap="25" data-column="1" data-column2="1" data-column3="1"><div class="owl-carousel owl-theme">
								<div class="cbr-testimonials style-1 clearfix">
									<div class="item">
										<div class="inner">
											<blockquote style="border:none;">
												<div class="text-wrap">
													<img src="/intro/picture/cas1.jpg" alt="Image">
												</div>
											</blockquote>
										</div>
									</div><!-- .item -->
								</div><!--.cbr-testimonials -->

								<div class="cbr-testimonials style-1 clearfix">
									<div class="item">
										<div class="inner">
											<blockquote style="border:none;">
												<div class="text-wrap">
													<img src="/intro/picture/cas2.jpg" alt="Image">
												</div>
											</blockquote>
										</div>
									</div><!-- .item -->
								</div><!--.cbr-testimonials -->
							</div></div><!--.cbr-carousel-box -->
						</div>
					</div><!-- .cbr-content-box -->

					<div class="cbr-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
				</div><!-- .col-md-8 -->

				<div class="col-md-4">
					<div class="cbr-content-box clearfix bg-light text-center" data-padding="60px 40px" data-mobipadding="35px 35px" style="background-color:#eff5fa !important;">
						<div class="inner" style="padding:45px 40px 70px 40px;">
							<div class="twitter-post">
								<div class="twitter-post-wrap">
									<h2 class="title" style="font-size:14px;">统一身份认证</h2>

									<div class="icon" style="padding-bottom:15px;">
										<i class="fa fa-check-circle-o"></i>
									</div>

									<p style="text-indent:2em;text-align:left;">对中国科协学会服务中心各应用系统的身份登录和用户授权进行统一管理.</p>
									<p style="text-indent:2em;text-align:left;padding:10px 0px;">中国科协学会服务中心各应用系统的身份登录和用户授权进行统一管理，建设统一身份认证系统和用户授权管理系统.</p>
									<p style="text-indent:2em;text-align:left;">实现用户一次登录，可以在多个业务系统之间进行无缝切换.</p>
								</div>
							</div><!-- .twitter-post -->
						</div>
					</div><!-- .cbr-content-box -->

					<div class="cbr-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
				</div><!-- .col-md-4 -->

				<div class="col-md-12">
					<div class="cbr-spacer clearfix" data-desktop="100" data-mobi="70" data-smobi="70"></div>
				</div><!-- .col-md-12 -->
			</div><!-- .row -->
			</div>
        </section>
        <!-- /slider and content -->
        <!-- ############################# Slider and Content ############################# -->
        <section class="section no-padding slider-content grey-texture animated" data-delay="0" style="padding-top:20px;">
			<div class="container">
            <!-- Section Header -->
            <header class="section-header" style="margin-bottom:0px;">
                <h2 class="section-title animated" data-delay="0">互联互通</h2>
                <div class="divider dark long animated" data-delay="100"></div>
                <!-- <p class="section-header-text animated" data-delay="200">Proactive rss-capable reinvent share action-items synergize implement engage web-readiness out-of-the-box reintermediate, reinvent killer infomediaries extensible enable aggregate architectures empower. Reinvent utilize plug-and-play tag revolutionary incentivize proactive citizen-media visualize.</p> -->
            </header>
            <!-- /section header -->           

            <div class="row">
				<div class="col-md-12">
					<div class="cbr-spacer clearfix" data-desktop="100" data-mobi="70" data-smobi="70"></div>
				</div><!-- .col-md-12 -->
				<div class="col-md-4">
					<div class="cbr-content-box clearfix bg-light text-center" data-padding="60px 40px" data-mobipadding="35px 35px" style="background-color:#eff5fa !important;">
						<div class="inner" style="padding:45px 40px 92px 40px;">
							<div class="twitter-post">
								<div class="twitter-post-wrap">
									<h2 class="title" style="font-size:14px;">互联互通</h2>

									<div class="icon" style="padding-bottom:15px;">
										<i class="fa fa-life-ring"></i>
									</div>

									<p style="text-indent:2em;text-align:left;">为中国科协学会服务中心建设统一服务集成系统.</p>
									<p style="text-indent:2em;text-align:left;padding:10px 0px;">实现各业务系统的互联互通，实现各个系统集成.</p>
									<p style="text-indent:2em;text-align:left;">各业务系统通过服务总线互联.</p>
								</div>
							</div><!-- .twitter-post -->
						</div>
					</div><!-- .cbr-content-box -->

					<div class="cbr-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
				</div><!-- .col-md-4 -->
				<div class="col-md-8">
					<div class="cbr-content-box clearfix bg-light" data-padding="45px 5px 17px 50px" data-mobipadding="25px 5px 15px 30px" style="background-color:#eff5fa !important;">
						<div class="inner" style="padding: 45px 5px 17px 50px;">
							<div class="cbr-headings">
								<h6 class="pre-heading" style="letter-spacing:3px;">Interconnection</h6>
								<!-- <h2 class="heading">Central Authentication Service</h2> -->
							</div><!-- .cbr-headings -->

							<div class="cbr-carousel-box has-arrows arrow-bottom arrow10 text-center" data-auto="false" data-loop="false" data-gap="25" data-column="1" data-column2="1" data-column3="1"><div class="owl-carousel owl-theme">
								<div class="cbr-testimonials style-1 clearfix">
									<div class="item">
										<div class="inner">
											<blockquote style="border:none;">
												<div class="text-wrap">
													<img src="/intro/picture/interconnect1.png" alt="Image">
												</div>
											</blockquote>
										</div>
									</div><!-- .item -->
								</div><!--.cbr-testimonials -->

								<div class="cbr-testimonials style-1 clearfix">
									<div class="item">
										<div class="inner">
											<blockquote style="border:none;">
												<div class="text-wrap">
													<img src="/intro/picture/interconnect2.png" alt="Image">
												</div>
											</blockquote>
										</div>
									</div><!-- .item -->
								</div><!--.cbr-testimonials -->
							</div></div><!--.cbr-carousel-box -->
						</div>
					</div><!-- .cbr-content-box -->

					<div class="cbr-spacer clearfix" data-desktop="0" data-mobi="35" data-smobi="35"></div>
				</div><!-- .col-md-8 -->				

				<div class="col-md-12">
					<div class="cbr-spacer clearfix" data-desktop="100" data-mobi="70" data-smobi="70"></div>
				</div><!-- .col-md-12 -->
			</div><!-- .row -->
			</div>
        </section>
        <!-- /slider and content -->

    </section>
    <!-- /content -->

    <!-- ############################# Footer ############################# -->
     <!-- Footer Note -->
    <div id="footer-note" style="color:#fff;">
        <div style="clear:both;height:60px;width:70%;margin:0px auto;">
        <div style="float:left;font-size:16px;margin:20px 0px 0px 0px;">中国科协学会服务中心</div>
        <div style="float:right;font-size:12px;">
            <div style="text-align:right;margin:10px 0px 10px 0px;">
                <span>首页</span>
                <span>|</span>
                <span>关于我们</span>
            </div>
            <div>
                <span>版权所有 © 中国科协学会服务中心</span>
                <span>京ICP备10024610号</span>
            </div>
        </div>
    </div>
    </div>
    <!-- /footer note -->

</section>
<!-- /page -->

    <!-- ############################# Javascripts ############################# -->
    <script src="/intro/js/jquery.min.js"></script>
    <script src="/intro/js/jquery.easing-1.3.min.js"></script>
    <script src="/intro/js/jquery.queryloader2.min.js"></script>
    <script src="/intro/js/bootstrap.min.js"></script>
    <!--<script src="js/smoothscroll.js"></script>-->
    <script src="/intro/js/waypoints.min.js"></script>
    <script src="/intro/js/jquery.transit.min.js"></script>
    <script src="/intro/js/jquery.scrollto.min.js"></script>
    <script src="/intro/js/jquery.small.plugins.js"></script>
    <script src="/intro/js/owl.carousel.min.js"></script>
    <script src="/intro/js/jquery.fancybox-1.3.4.pack.js"></script>
    <!-- Custom scripts -->
    <script src="/intro/js/custom.js"></script>
    <style type="text/css">
        .dataUl li{list-style:none;color:#666;margin-left:0px;}
        #inter-slider .owl-prev,#inter-slider .owl-next{border:1px solid #666;}
        #inter-slider .owl-prev i,#inter-slider .owl-next i{color:#222;}
        #inter-slider .owl-page span:after{background:#222;}
        #inter-slider .owl-page.active span,#inter-slider .owl-page:hover span{border:1px solid #222;} 
        #bottomDiv a{color:#fff;}
        #allLink span{padding-right:20px;}      
    </style>
    <script>
		var carouselBoxOwl = function() {
			if ( $().owlCarousel ) {
				$('.cbr-carousel-box').each(function(){
					var
					$this = $(this),
					auto = $this.data("auto"),
					loop = $this.data("loop"),
					item = $this.data("column"),
					item2 = $this.data("column2"),
					item3 = $this.data("column3"),
					gap = Number($this.data("gap"));

					$this.find('.owl-carousel').owlCarousel({
						loop: loop,
						margin: gap,
						nav: true,
						navigation : true,
						pagination: true,
						autoplay: auto,
						autoplayTimeout: 5000,
						responsive: {
							0:{
								items:item3
							},
							600:{
								items:item2
							},
							1000:{
								items:item
							}
						}
					});
				});
			}
		};
		// Dom Ready
		$(function() {
			carouselBoxOwl();
		});
	</script>
</body>
</html>