<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en-US"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <![endif]-->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>中国科协学会服务中心数据整合共享平台建设</title>
    <!-- <meta name="keywords" content="HTML5,高端,简约大气,响应式,网络科技公司,企业官网,网站前端模板" />
    <meta name="description" content="HTML5高端简约大气响应式网络科技公司企业官网网站前端模板下载。很有创意的轻量级html5网站模板，整站响应式HTML模版，效果超棒！" /> 
    <meta name="author" content="js代码(www.jsdaima.com)" />
    <meta name="copyright" content="js代码(www.jsdaima.com)" /> -->
    <!-- Fav icon -->
    <link rel="shortcut icon" href="/intro/service.ico" type="image/x-icon" />
    <!-- <meta name="robots" content="index,follow"> -->

    <!-- ############################# Stylesheets ############################# -->
	<link rel="stylesheet" type="text/css" href="/intro/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/shortcodes.css">
	<link rel="stylesheet" type="text/css" href="/intro/css/font-awesome.css">
    <link rel="stylesheet" href="/intro/css/style.css" media="screen" />

    <!-- ############################# Javascript - Modernizr ############################# -->

    <script src="/intro/js/modernizr.custom.js"></script>
</head>
<body>
<!--[if lte IE 8]>
<div id="ie6-message"><p>You are using Internet Explorer 8.0 or older to view the web. Please upgrade to a newer browser to fully enjoy the web. <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Upgrade your browser</a></p></div>
<![endif]-->

<!-- ############################# Page ############################# -->
<section id="page">

    <!-- ############################# Header ############################# -->
    <header id="header">
        <div class="container">
            <!-- ############################# Logo ############################# -->
            <a id="logo" href="/introduce" class="smooth-link"><img src="/intro/picture/casLogo_white.png" alt="Logo"></a>

            <!-- ############################# Menu ############################# -->
            <!-- Menu Tigger -->
            <a href="#" id="menu-trigger"><span class="icon"></span></a>
            <!-- /menu Tigger -->
        </div>
         <!-- Menu Container -->
        <div id="menu-container">
            <div class="container">
                <h3 class="nav-title">导航</h3>
                <div class="divider white"></div>
                <nav id="nav">
                    <ul>
                        <li><a href="/introduce">首页</a></li>
                    </ul>
                </nav>
            </div>

            <div class="overlay"></div>
        </div>
    </header>


    <!-- ############################# Intro Slider ############################# -->
    <section id="intro-slider" class="intro clearfix">
        <!-- Slide -->
        <div class="slide">
            <div class="intro-captions">
                <h3 class="caption-title big animated">中国科协学会服务中心</h3><br>
                <h3 class="caption-title small animated">学会服务系统及数据整合共享建设</h3>
                <div class="divider white long animated"></div>
                <a class="stamp-button intro-button smooth-link animated" href="/about"><span>进入</span></a>
            </div>
            <!-- Image -->
            <div class="image home-slide01"></div>
            <!-- Overlay -->
            <span class="overlay animated"></span>
        </div>
        <!-- /slide -->
        <!-- Slide -->
        <!-- <div class="slide">
            <div class="intro-captions">
                <h3 class="caption-title big animated">Awesome Mobile APP</h3><br>
                <h3 class="caption-title small animated">Reinvent utilize revolutionary incentivize proactive.</h3>
                <div class="divider white long animated"></div>
                <a class="stamp-button intro-button smooth-link animated" href="portfolio-project01.html"><span>View project</span></a>
            </div>
        
            <div class="image home-slide02"></div>
          
            <span class="overlay animated"></span>
        </div>
       
        <div class="slide">
            <div class="intro-captions">
                <h3 class="caption-title big animated">Awesome Symbols</h3><br>
                <h3 class="caption-title small animated">We create beautiful software, mobile apps and websites.</h3>
                <div class="divider white long animated"></div>
                <a class="stamp-button intro-button smooth-link animated" href="portfolio-project02.html"><span>View project</span></a>
            </div>
          
            <div class="image home-slide03"></div>
          
            <span class="overlay animated"></span>
        </div>
      
        <div class="slide">
            <div class="intro-captions">
                <h3 class="caption-title big animated">504 Creative Website</h3><br>
                <h3 class="caption-title small animated">We create beautiful software, mobile apps and websites.</h3>
                <div class="divider white long animated"></div>
                <a class="stamp-button intro-button smooth-link animated" href="portfolio-project03.html"><span>View project</span></a>
            </div>
            
            <div class="image home-slide04"></div>
        
            <span class="overlay animated"></span>
        </div> -->
        <!-- /slide -->
    </section>
    <!-- <span class="swipe-icon"></span> -->
    <!-- /Introslider -->
</section>
<!-- /page -->

    <!-- ############################# Javascripts ############################# -->
    <script src="/intro/js/jquery.min.js"></script>
    <script src="/intro/js/jquery.easing-1.3.min.js"></script>
    <script src="/intro/js/jquery.queryloader2.min.js"></script>
    <!--<script src="js/smoothscroll.js"></script>-->
    <script src="/intro/js/waypoints.min.js"></script>
    <script src="/intro/js/jquery.transit.min.js"></script>
    <script src="/intro/js/jquery.scrollto.min.js"></script>
    <script src="/intro/js/jquery.small.plugins.js"></script>
    <script src="/intro/js/owl.carousel.min.js"></script>
    <script src="/intro/js/jquery.fancybox-1.3.4.pack.js"></script>
    

    <!-- Custom scripts -->
    <script src="/intro/js/custom.js"></script>
    <style type="text/css">
        #intro-slider .owl-stage {width: 100%!important;}
    </style>
</body>
</html>