<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>集成用户工作平台</title>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">     
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
    
	<!-- Styles -->
    <link href="/casAssets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/casAssets/plugins/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet">         
  	<link href="/icomoon/style.css" rel="stylesheet">
  	<link href="/css/common.css" rel="stylesheet">	
</head>
<body id="bodyDiv" style="background-image:url(/casAssets/images/casBackBody.png);background-repeat:no-repeat;background-size:100% 100%;">
<div id='Loading' style="position:absolute;z-index:1000;top:0px;left:0px;width:100%;height:100%;background:#ffffff;text-align:center;"></div> 
<div class="containerCas" style="width:900px;margin:0px auto;padding:20px 0px;">
  
</div>
<div id="bottomDiv" style="height:120px;color:#fff;border-top:1px solid #8a808c;">
	<div id="linkDiv" style="clear:both;height:60px;width:70%;margin:0px auto;border-bottom:1px solid #8a808c;">
		<div style="float:left;width:16px;margin:10px 50px 0px 0px;font-size:16px;">链接</div>
		<div id="allLink" style="float:left;margin:10px 00px 0px 0px;">
			<div>
				<span><a>中国科学技术协会</a></span>
				<span><a>国家发展和改革委员会</a></span>
				<span><a>中国科学院</a></span>
				<span><a>中华人民共和国民政部</a></span>
			</div>
			<div>
				<span><a>中华人民共和国教育部</a></span>
				<span><a>中华人民共和国科学技术部</a></span>
				<span><a>中国工程院</a></span>
				<span><a>国家自然科学基金委员会</a></span>
			</div>
		</div>
	</div>
	<div style="clear:both;height:60px;width:70%;margin:0px auto;">
		<div style="float:left;font-size:16px;margin:20px 0px 0px 0px;">中国科协学会服务中心</div>
		<div style="float:right;font-size:12px;">
			<div style="text-align:right;margin:10px 0px 10px 0px;">
				<span>首页</span>
				<span>|</span>
				<span>关于我们</span>
			</div>
			<div>
				<span>版权所有 © 中国科协学会服务中心</span>
				<span>京ICP备10024610号</span>
			</div>
		</div>
	</div>
</div>
<!-- js -->
	<script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
	<script src="/casAssets/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<style type="text/css">
		 #bottomDiv a{color:#fff;cursor:pointer;}
		 #allLink span{padding-right:20px;}
	</style>
	<script type="text/javascript">
	$(document).ready(function(){
		//遮罩移除 
    	function closes() {  
            $("#Loading").fadeOut('normal', function () {  
                $(this).remove();  
            });  
        }
        var pc;   
        if(pc) clearTimeout(pc);  
        pc = setTimeout(closes,1);	
        
        var wh = $(window).height();
        setTableYScroll("#bodyDiv");
        //$(".containerCas").height(wh-180);
        //动态加载应用系统
        $.ajax({
			type : 'GET',
			url : '/applications/available',
			contentType : 'application/json;charset=utf-8',
			timeout : 5000, //超时时间设置，单位毫秒
			async : true, //异步传输
			dataType : 'json',
			success : function(result) {
				var appData = result;//获取应用系统的数组
        		var appHtml = "";
        		var rowNum = Math.ceil((appData.length)/4);
        		if(rowNum == 1) {
        			$(".containerCas").height(wh-180);
        		}
    			for(var r = 0;r < rowNum;r ++){
    				appHtml += '<div class="row" style="margin:20px 0px 0px 0px;">';
        			for(var i = 4*r;i < ((4*r+4)>appData.length?appData.length:(4*r+4));i ++){
        				appHtml += 		'<div class="col-sm-3 col-12">';
        				appHtml += 			'<div class="info-box" style="height:190px;background-color: #0077d3;">';
        				appHtml += 				'<div class="info-box-content" style="text-align:center;">';
        				appHtml += 					'<span class="info-box-text" style="height:60px;display:block;padding-top:50px;"><span class="'+appData[i].icon +'" style="font-size:54px;color:#fff;"></span></span>';
            			appHtml += 					'<p class="info-box-text" style="color:#fff;position:relative;top:70px;font-size:16px;margin:0px 10px;">';
            			appHtml += 						'<a href="'+appData[i].url+'" style="color:#fff;" target="_blank">'+appData[i].name+'</a>';
            			appHtml += 					'</p>';
            			appHtml += 				'</div>';
            			appHtml += 			'</div>';
            			appHtml += 		'</div>';
        			}
        			appHtml += '</div>';
    			}
    			$(".containerCas").html(appHtml);
			},
			error : function(XMLHttpRequest, status) {
				if (status == "timeout") {
					alert("获取获取用户可访问的应用系统列表超时，请重试");
				} else {
					alert('获取获取用户可访问的应用系统列表失败。');
				}
			},
		});
	});	//ready() end
	function setTableYScroll(dom) {
		$(dom).addClass("content");
		$(dom).mCustomScrollbar({
			axis:"y",
			theme:"minimal-dark",
		});
	}
	</script>
<!-- login other application -->
<!-- <iframe id="iframe0" name="iframe0" frameborder="0" src="/login/kjst" style="width: 0;height:0;display:none;" scrolling="auto"></iframe> -->
<!-- <iframe id="iframe1" name="iframe1" frameborder="0" src="/login/kjqk" style="width: 0;height:0;" scrolling="auto"></iframe>-->
<!-- <iframe id="iframe2" name="iframe2" frameborder="0" src="/login/cxqd" style="width: 0;height:0;" scrolling="auto"></iframe>-->
<!-- <iframe id="iframe3" name="iframe3" frameborder="0" src="/login/grhy" style="width: 0;height:0;" scrolling="auto"></iframe>-->
<!-- <iframe id="iframe4" name="iframe4" frameborder="0" src="/login/njsw" style="width: 0;height:0;" scrolling="auto"></iframe> -->
<!-- <iframe id="iframe5" name="iframe5" frameborder="0" src="/login/njbc" style="width: 0;height:0;" scrolling="auto"></iframe>-->
</body>
</html>