<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>登录年检补充信息填报系统</title>
</head>
<body>
	<form action="http://nj.zgxhw.org.cn:8090/loginCheck" id="loginForm" method="post">
		<input type="text" value="登++++录"  name="btnLogin" />
		<input type="text" value="中国女科技工作者协会"  name="userName" />
		<input type="password" value="e34"  name="psw" />
	</form>
</body>
<!-- jQuery -->
<script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#loginForm").submit();
});
</script>
</html>