<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>登录中国科技期刊重点项目管理数字平台</title>
</head>
<body>
	<form action="http://112.74.56.101:9407/egrantweb/j_spring_security_check" id="loginForm1" method="POST">
		<input type="text" value="yuan-yu-tao@163.com"  name="username" />
		<input type="hidden" value="登录"  name="submit" />
		<input type="hidden" value=""  name="sn_seral" />
		<input type="hidden" value="http://172.18.52.110:8980/egrantweb/main"  name="service" />
		<input type="hidden" value=""  name="RandomData" />
		<input type="password" value="demo123"  name="password" />
		<input type="hidden" value="http://112.74.56.101:9407/egrantweb/index"  name="loginUrl" />
		<input type="hidden" value="zh_CN"  name="locale" />
		<input type="hidden" value=""  name="f_page"  />
		<input type="hidden" value=""  name="digest" />
		<input type="submit" value="提交"  name="submit"  id="submit"/>
	</form>
</body>
<!-- jQuery -->
<script type="text/javascript" src="/webjars/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	//alert($("#loginForm1").length);
	//$.post("http://112.74.56.101:9407/egrantweb/j_spring_security_check", $("#loginForm1").serialize());
	$("#submit").click();
	//alert($("#loginForm1").length);
	//$("#loginForm1").submit();
})
</script>
</html>